[run]
omit =
    */venv/*
    */.coverage/*
    */.pytest_cache/*
    */asgi.py
    */wsgi.py
    */manage.py
    *__init__*
    */migrations/*
    *admin.py*
    *apps.py*
    *urls.py*
    *test_*
    *tests.py*
    *conftest.py*
    *choices.py*
    *forms.py*
    */src/*
    *_schema.py*