asgiref==3.7.2
backports.zoneinfo==0.2.1
black==22.3.0
click==8.0.2
Django==4.2.6
mypy-extensions==1.0.0
packaging==21.0
pathspec==0.11.1
platformdirs==3.8.0
psycopg2-binary==2.9.7
pytest==7.4.0
pytest-django==4.5.2
sqlparse==0.4.4
tomli==2.0.1
typing-extensions==4.6.3
djangorestframework==3.14.0
isort==5.12.0
bandit==1.7.5
safety==2.3.5
setuptools==68.1.2
pytest-cov==4.1.0
coverage==7.2.1
flake8==4.0.1
